{% extends 'base.html.twig' %}

{% block title %}Destinations {% endblock %}

{% block body %}
    <h1>Destinations </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Prix</th>
                <th>Categorie</th>
                <th>DateDepart</th>
                <th>DateArrivee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for destination in destinations %}
            <tr>
                <td>{{ destination.id }}</td>
                <td>{{ destination.nom }}</td>
                <td>{{ destination.image }}</td>
                <td>
                    {% if destination.categories is not empty %}
                        <ul>
                            {% for category in destination.categories %}
                                <li>{{ category.nom }}</li> {# Assurez-vous que la propriété 'nom' existe dans l'entité Category #}
                            {% endfor %}
                        </ul>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>{{ destination.prix }}</td>
                <td>{{ destination.dateDepart ? destination.dateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ destination.dateArrivee ? destination.dateArrivee|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_destinations_show', {'id': destination.id}) }}" class="btn btn-light">show</a>
                    <a href="{{ path('app_destinations_edit', {'id': destination.id}) }}"  class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_destinations_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
